.img-flex {
  display: block;
  width: 100%;
  position: relative;
}

.banner {
  /* max-height: 24em; */
  overflow: hidden;
}

.banner-content {
  background-color: #fff;
  border: 2px solid var(--color-accent);
  max-width: 450px;
  min-width: 220px;
  min-height: 150px;
  max-height: 400px;
  transform: scale(.8);
}

.banner-img {
  opacity: .6;
}

.btn {
  background-color: #fddf78;
  border-radius: 20px;
  border-color: #fff;
  color: #fff;
}

.btn:hover {
  background-color: #fddf78;
  color: #105c67;
  border-color: #fff;
}

@media only screen and (min-width: 90em) {

  .banner-content {
    transform: scale(2);
  }

}
