/* .btn-card {
  background-color: #b0ddea;
  border-radius: 20px;
  border-color: #fff;

  color: #fff;
}

.btn-card:hover {
  background-color: #b0ddea;
  color: #105c67;
  border-color: #fff;
} */

.card {
  background-color: #fff;
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  max-width: 300px;
  max-width: 200px;
  min-height: 300px;
  max-height: 400px;
}

.froot {
text-align: center;
color: #5d4677;
}

.img {
  width: 150px;
  height: 200px;
  margin: 0 auto;
}

.description {
  display: none;
}

.nav-description:checked ~ .content .description {
  display: block;
}

.nav-description {
  position: absolute;
  top: -10em;
}

[type="checkbox"] + label::before {
  display: none;
}

.ingredients {
  display: none;
}

.nav-ingredients:checked ~ .content .ingredients {
  display: block;
}

.allergens {
  display: none;
}

.nav-allergens:checked ~ .content .allergens {
  display: block;
}

.sizes {
  display: none;
}

.nav-sizes:checked ~ .content .sizes {
  display: block;
}

.section-card {
  background-color: #fff;
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  min-height: 300px;
}

.section-t {
  text-align: left;
  color: #105c67;
}

.btn {
  background-color: #fddf78;
  border-radius: 20px;
  border-color: #fff;

  color: #fff;
}

.btn:hover {
  background-color: #fddf78;
  color: #105c67;
  border-color: #fff;
}

.btn-card {
  background-color: #b0ddea;
  border-radius: 20px;
  border-color: #fff;

  color: #fff;
}

.btn-card:hover {
  background-color: #b0ddea;
  color: #105c67;
  border-color: #fff;
}

.link-btn {
  background-color: #f0d4d0;
  border-radius: 20px;
  text-decoration: none;
}

.link-btn-hover:hover {
  color: #105c67;
}

.link-btn-main {
  color: #105c67;
}

.link-btn-hover {
  color: #fff;
}
