.copyright {
  background-color: var(--color-secondary);
  color: #fff;
}
.icon-footer {
  border-radius: 25rem;
  color: var(--color-secondary);
}

.i-32, .i--32 {
  height: 32px;
  width: 32px;
}

.icon {
  display: inline-block;
  position: relative;
  background-size: contain;
}
