.masthead {
  background-color: var(--color-secondary);
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

li a:hover {
  color: #105c67;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav li {
  position: relative;
}

@media only screen and (min-width: 38em) {

  .masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}
