.header {
  background-color: var(--color-secondary);
}

.icon {
  display: inline-block;
  position: relative;
  background-size: contain;
}

a {
  text-decoration: none;
  color: #105c67;
}

.nav a {
  color: #fff;
  background-color: #105c67;
  text-decoration: none;
}

.mega {
  color: #fff;
  text-decoration: none;
}

.li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
}
