html {
  font-family: Nunito Sans;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.error-message:first-child,
input:invalid + .error-message,
input:invalid + label + .error-message {
  display:block;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.white {
  color:#fff;
}
