:root {
  --color-primary: #b0ddea;
  --color-secondary: #f0d4d0;
  --color-accent: #ec7d72;
  --color-yellow: #fddf78;
  --font-primary: "Nunito Sans", sans-serif;
  /* --font-secondary: astounder-squared-lc-bb, sans-serif; */
}

html {
  font-family: var(--font-primary);
}
